

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
}

body {
    background-color: black;
    background-image: url('./images/heart.jpeg');
    background-size: 100%;
    background-repeat: round;
    height: 400px;
    padding: 20px;
    font-family: 'Vibes', cursive;
}

article {
    max-width: 1100%;
    margin: 0%;
    padding: 0 3rem;
    text-align: center;
}

nav {
    

}


h1 {
    color: deeppink;
    font-size: 5rem;
    font-weight: 700;
    letter-spacing: 7px;
    margin-bottom: 2rem;
}

h2 {
    color: deeppink;
    font-size: 4rem;
    font-weight: 500;
}

